body {
    background-color: ;
}


div.polya{
    display:flex;
    margin: 5px;
}

br {
    display: block;
}

div.main-forma {
    width: 100%;
    font-size: 25px;
    align: center;
}

button {
    height: 3rem;
    margin: 5px;
    color:white;
    padding:5px;
    font-size:25px;
    background-color: orange;
    border:none !important;
    border-radius: 5px;
    width: 100%;

}
button.matem {
    width: 5rem
}

div.kolonka {
    margin-bottom: 2rem;
    text-align: center;

}


input,select {
    width: 100%;
    font-size:20px;
    border-radius: 5px;
    height: 3rem;
    border: 1px solid orange;
    text-align: center
}
