container {
    display: block;
}
body {
    margin:0;
    padding:0;
    color:var(--tg-theme-text-color);
    background-image: url("img.png");
}

button {
    height: 3rem;
    margin: 5px;
    color:white;
    padding:5px;
    font-size:25px;
    background-color: orange;
    border:none !important;
    border-radius: 5px;
    width: 80%;
    opacity: 1;

}
button.matem {
    width: 1px;
}

div.items {
    margin-bottom: 2rem;
    text-align: center;

}

div.kolonka {
    text-align: center;
    margin-top: 1rem;

}
li.selected{
    background-color:blue;
    color:white;
}

input,select {
    width: 100%;
    font-size:20px;
    border-radius: 5px;
    height: 3rem;
    border: 1px solid orange;
    text-align: center;

}
label {
    color:white;
    font-size:20px;
}
div.polya{
    display:flex;
    margin: 5px;
}

.btn {
background : rgb(248,168,24) ;
color: #fff;
transition: background .2s linear
}


.btn:hover {
    background:lightblue;
}
